/*pluggedIn.css*/

#pluggedIn-draggable{
	width: 200px;
	height: 350px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #1c1f25;
	border: 2px solid #0a0a0a;
	z-index: 100000;
	position: absolute;
}

#pluggedIn-draggable-header{
	cursor:move;
	border-bottom:2px solid #0a0a0a;
	background-color:#0a0a0a;
}